body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
.navbar {
    background-color: grey;
    border-radius: 0;
    border: 0;
}
.container {
    width: 100%;
}
.navbar-brand h1 {
    color: black;
    text-shadow: 1px 1px 1px rgb(24, 23, 23);
    margin: 0;
    padding: 0;
    line-height: 0.5;
}
.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}